<div class="center_left" >
    <div class=" flex-shrink-0 p-3" style=" width:100%;">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"><a href="#" class="link-dark active" aria-current="page"><i class="fa-solid fa-house"></i>Home</a></li>
        <li><a href="#" class="link-dark"><i class="fa fa-bus-simple"></i>orders</a><span>157</span></li>
        <li><a href="#" class="link-dark"><i class="fa fa-tag"></i>Products</a></li>
          <ul class="sub">
            <li><a href="#">Inventory</a></li>
            <li><a href="#">Transfers</a></li>
            <li><a href="#">Collections</a></li>
            <li><a href="#">Gift cards</a></li>
          </ul>
        <li><a href="#" class="link-dark"><i class="fa fa-house"></i>Customers</a> </li>
        <li><a href="#" class="link-dark"><i class="fa-solid fa-house"></i>Analytics</a></li>  
        <li><a href="#" class="link-dark"><i class="fa-solid fa-house"></i>Discounts</a></li>  
        <li><a href="#" class="link-dark"><i class="fa-solid fa-mobile-screen-button"></i> Apps</a></li>  
      </ul>
    </div>

    <div class="flex-shrink-0 p-3 ">
     <ul class="list-unstyled ps-0">
      <span class="a">Sales channel <i class="fa-solid fa-angle-right" style="float: right;"></i></span>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed px-0" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            <i class="fa-regular fa-eye" style="padding-top: 10px;"></i>Online store
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 sub">
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li>
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li>
            </ul>
          </div>
        </li>
        </ul>
    </div>

    <div class="gamma ms-3">
      <p><i class="fa-solid fa-gear"></i>Settings</p>
      <p class="active"><i class="fa fa-circle-exclamation" style="color:  rgb(6, 191, 169);"></i>store transfer disabled</p>
  </div>  
  </div>

