<header class="py-2  border-bottom  d-flex d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">

    <div class="dropdown1 col-2">
        <div class="dropdown col-xs-2">
  
            <a href="#" class="link-dark dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bars icon"></i>
            </a>
            <img class="logo" src={{img}} alt="" style="height: 30px; margin-left: 15px;">
  
            <div class="center_left_hidden  p-3 bg-whitesmoke dropdown-menu"
                style="width: 250px; position: absolute; margin-top: -40px;">
  
                <div class="first px-0">
                    <a href="/"
                        class="d-flex align-items-center justify-content-start pb-3 mb-3 link-dark text-decoration-none border-bottom">
  
                        <img src={{img}} style="margin-right: 10px;" height="30px" alt="">
                    </a>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li><a href="#" class="link-dark"><i class="fa-solid fa-house"></i> Home</a></li>
                        <li><a href="#" class="link-dark"><i class="fa fa-bus-simple"></i> orders</a><span>157</span>
                        </li>
                        <li><a href="#" class="link-dark"><i class="fa fa-tag"></i> Products</a></li>
                        <ul class="sub">
                            <li><a href="#">Inventory</a></li>
                            <li><a href="#">Transfers</a></li>
                            <li><a href="#">Collections</a></li>
                            <li><a href="#">Gift cards</a></li>
                        </ul>
                        <li><a href="#" class="link-dark"><i class="fa fa-house"></i> Customers</a> </li>
                        <li><a href="#" class="link-dark"><i class="fa-solid fa-house"></i> Analytics</a></li>
                        <li><a href="#" class="link-dark"><i class="fa-solid fa-house"></i> Discounts</a></li>
                        <li><a href="#" class="link-dark"><i class="fa-solid fa-mobile-screen-button"></i> Apps</a></li>
                    </ul>
                </div>
  
                <div class="flex-shrink-0 p-3 second px-0 second">
                    <ul class="list-unstyled ps-0">
                        <span class="a">Sales channel <i class="fa-solid fa-angle-right"></i></span>
  
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex  rounded border-0 collapsed"
                                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                                Online store
                            </button>
                            <div class="collapse show" id="home-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#"
                                            class="link-dark d-inline-flex text-decoration-none rounded">Overview</a>
                                    </li>
                                    <li><a href="#"
                                            class="link-dark d-inline-flex text-decoration-none rounded">Updates</a>
                                    </li>
                                    <li><a href="#"
                                            class="link-dark d-inline-flex text-decoration-none rounded">Reports</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
  
                <div class="gamma third px-0">
                    <p><i class="fa-solid fa-gear"></i> Settings</p>
                    <p class="active"><i class="fa fa-circle-exclamation" style="color:  rgb(6, 191, 169);"></i> store
                        transfer disabled</p>
                </div>
            </div>
  
        </div>
    </div>
  
    <div class="d-flex align-items-center col-6 second " style="position: relative; padding-left:10% ;">
        <i class="fa fa-magnifying-glass"></i>
        <input type="search" class="form-control" style="width: 100%;" placeholder="search" aria-label="Search">
    </div>
  
    <div class="third d-flex justify-content-end col-4">
        <p class="big me-2"> HM</p>
        <p class="small" style="font-size: 15px; font-weight: bold;">Hiren Makani</p>
    </div>
  
  </header> 
